h1,h2,h3{
    text-align: center;
}

#map{
    display:block; margin:0 auto;
    margin-top:4vw;
    max-width: 100%;
    padding-bottom: 30px;
    padding-top: 1px;
}

.details{
    margin-top: 20px;
    width:100%;
    border-top: 0.5px solid rgb(235, 238, 234);
    border-bottom: 0.5px solid rgb(235, 238, 234);
    background-color: rgb(241, 243, 243);
}

.details p{
   padding-left: 220px; 
   line-height: 1.4;
}

button{
    visibility:visible;
    opacity:1;
    margin-top: 0;
}

button p{
    font-size: large;
    text-align: center;
}

button:hover{
    background-color: rgb(221, 226, 224);
    color: rgb(226, 27, 27);
    transition: 0.5s;
}

.main-text{ 
    margin-top: 30px;
    /* position:relative; */
    animation-name:main-animation;
    animation-duration: 5s;
    animation-iteration-count:1;    
}

@keyframes main-animation{
    0%{
        color: white;
    }
    100%{
        color: black;
    }
}


